.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: flex-end; /* This puts it at the bottom */
    z-index: 9999; /* Ensure this is very high */
}

.modal-container{
    width: 45%;
    
}

.modal-content{
    background: darkgray;
    border-radius: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    height: 17rem;
}

.modal-content img{
    width: 50%;
    height: 100%;
    margin: auto;
    border-radius: 1rem;
}

.modal-text{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    padding-left: 1rem;
    top: 0;
}

.modal-text button{
    border-radius: 0.5rem;
    border-color: transparent;
    width: 5rem;
    height: 2rem;  
    margin-top: auto;
    align-self: center;
    cursor: pointer;
    text-align: center;
}

.modal-text-strlocation h4{
    gap: 0;
    display: flex;
    flex-direction: column;
    margin: -0.25rem;
    padding: -0.25rem;
}

.modal-text-strlocation{
    margin-bottom: 0.25rem;
}

.modal-text p{
    display: flex;
    flex-direction: column;
    margin: -0.25rem;
}